@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: auto 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--bg);
  color: hsl(0deg, 0%, 24%);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

h1,
h3,
h2 {
  color: var(--heading);
  font-family: "Montserrat", sans-serif;
}

a {
  color: #141414;
}

a:hover {
  color: var(--primary);
}

.heading {
  color: hsl(0deg, 0%, 8%);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 84px;
}

.heading2 {
  color: hsl(0deg, 0%, 8%);
  font-size: 3rem;
  font-weight: 400;
  line-height: 72px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 60px;
}

.cv-download-link {
  color: hsl(0deg, 0%, 8%);
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-decoration-line: underline;
  position: absolute;
  left: 40px;
  top: 70px;
}

.inline-block-elm {
  display: inline-block;
  position: relative;
}

.btn {
  border: none;
  border-radius: 6px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 13px 28px;
  min-width: 10rem;
  transition: all 0.3s ease-out;
}

.btn-dark {
  color: hsl(0deg, 0%, 99%);
  background-color: hsl(0deg, 0%, 8%);
}

.btn-light {
  color: hsl(0deg, 0%, 8%);
  background-color: hsla(0deg, 0%, 8%, 0.04);
}
.btn-light:hover {
  background-color: hsl(0deg, 0%, 8%);
  color: #fff;
  cursor: pointer;
}

.btn-border {
  border: 3px solid hsl(0deg, 0%, 8%);
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem 60px 5.5rem;
}

.skills__card {
  border: solid 2px #f7f7f7;
  border-radius: 10px;
  display: inline-flex;
  min-width: 320px;
  padding: 16px;
  transition: all 0.4s ease-out;
}
.skills__card:hover {
  border: solid 2px transparent;
  transform: scale(1.002);
  gap: 2rem;
}
.skills__card:hover.html-wrapper {
  box-shadow: 4px 16px 24px rgba(228, 77, 38, 0.16);
}
.skills__card:hover.css-wrapper {
  box-shadow: 4px 16px 24px rgba(0, 113, 188, 0.16);
}
.skills__card:hover.sass-wrapper {
  box-shadow: 4px 16px 24px rgba(140, 200, 75, 0.16);
}
.skills__card:hover.js-wrapper {
  box-shadow: 4px 16px 24px rgba(247, 223, 30, 0.16);
}
.skills__card:hover.react-wrapper {
  box-shadow: 4px 16px 24px rgba(0, 216, 255, 0.16);
}
.skills__card:hover.ts-wrapper {
  box-shadow: 4px 16px 24px rgba(49, 120, 198, 0.16);
}
.skills__card:hover.redux-wrapper {
  box-shadow: 4px 16px 24px rgba(118, 74, 188, 0.16);
}
.skills__card:hover.git-wrapper {
  box-shadow: 4px 16px 24px rgba(222, 76, 54, 0.16);
}
.skills__card:hover.node-wrapper {
  box-shadow: 4px 16px 24px rgba(83, 158, 67, 0.16);
}
.skills__card__container {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
}
.skills__card__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.skills__card__title {
  font-family: "Poppins", sans-serif;
  color: #141414;
  font-size: 18px;
  font-weight: 600;
}
.skills__card__body {
  font-family: "Poppins", sans-serif;
  color: rgba(20, 20, 20, 0.56);
  font-size: 14px;
  font-weight: 600;
}
.skills__card__wrapper {
  border: 2px solid #f7f7f7;
  border-radius: 4px;
  max-width: 320px;
  margin: 100px;
  padding: 16px;
  transition: all 0.4s ease;
  transition: border 0s;
}

.fill-line {
  position: relative;
}
.fill-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 4px;
  transition: all 0.5s ease-out;
}
.fill-line:hover::before {
  width: 100%;
}

.html-wrapper.fill-line::before {
  background-color: rgba(228, 77, 38, 0.72);
}

.css-wrapper.fill-line::before {
  background-color: rgba(0, 113, 188, 0.72);
}

.sass-wrapper.fill-line::before {
  background-color: rgba(140, 200, 75, 0.72);
}

.js-wrapper.fill-line::before {
  background-color: rgba(247, 223, 30, 0.72);
}

.react-wrapper.fill-line::before {
  background-color: rgba(0, 216, 255, 0.72);
}

.ts-wrapper.fill-line::before {
  background-color: rgba(49, 120, 198, 0.72);
}

.redux-wrapper.fill-line::before {
  background-color: rgba(118, 74, 188, 0.72);
}

.git-wrapper.fill-line::before {
  background-color: rgba(222, 76, 54, 0.72);
}

.node-wrapper.fill-line::before {
  background-color: rgba(83, 158, 67, 0.72);
}

/* NAVBAR */
.navbar__wrapper {
  overflow: visible !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  position: relative;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.socials a {
  color: #141414;
  border-radius: 8px;
  padding: 12px 16px;
  transition: all 0.3s ease-in-out;
}
.socials a:hover {
  background-color: #f7f7f7;
}
.socials a img {
  transition: all 0.5s ease-out;
  position: relative;
}
.socials a img:hover {
  transform: scale(1.15);
}

.cta {
  height: 40px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(20, 20, 20, 0.14);
  border-radius: 8px;
}

.cta__line {
  width: 1px;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.14);
}

.cta__mail p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}

/* Showcase */
.showcase {
  max-width: 1440px;
  text-align: center;
  margin: 6rem auto 4.5rem;
}
.showcase p {
  max-width: 600px;
  font-weight: 600;
  margin: 1rem auto;
}
.showcase .showcase-btns {
  margin: 2.5rem auto;
}
.showcase .showcase-btns .btn {
  margin: 0 2rem;
}

/* Animate */
.animate {
  border: 1px;
  border-color: hsl(0deg, 0%, 70%);
  border-style: solid none;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 13rem 0;
  width: 100%;
}

.animate h1 {
  transform: translateX(100%);
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: hsl(0deg, 0%, 14%);
  font-size: 10rem;
  font-weight: 900;
  position: absolute;
  width: 100%;
}

/* Adding Animation */
/* Because this is my first time working with animation, I want every single property to be selected separately if I intend to use them.! */
.animate h1:nth-child(1) {
  animation-name: scrolling;
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate h1:nth-child(2) {
  animation-name: scrolling2;
  animation-delay: 5s;
}

@keyframes scrolling2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate h1:nth-child(3) {
  animation-name: scrolling3;
  animation-delay: 10s;
}

@keyframes scrolling3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate h1:nth-child(4) {
  animation-name: scrolling4;
  animation-delay: 4s;
  display: none;
}

/* -----------------------------------------Media Queries-------------------------------- */
@media screen and (max-width: 1600px) {
  .animate h1:nth-child(2) {
    animation-delay: 7.5s;
  }
  .animate h1:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .animate h1:nth-child(2) {
    display: none;
  }
  .animate h1:nth-child(4) {
    display: block;
    animation-delay: 10s;
  }
  @keyframes scrolling4 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
@media screen and (max-width: 950px) {
  nav {
    padding-top: 3rem;
  }
  nav form {
    display: none;
  }
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-110%);
    }
  }
}
@media screen and (max-width: 870px) {
  .animate h1:nth-child(4) {
    animation-delay: 10s;
  }
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-120%);
    }
  }
}
@media screen and (max-width: 768px) {
  .animate {
    padding: 8rem 0;
  }
  .animate h1 {
    font-size: 8rem;
  }
  .animate h1:nth-child(4) {
    animation-delay: 9.5s;
  }
}
@media screen and (max-width: 644px) {
  nav {
    flex-direction: column;
    gap: 1.5rem;
  }
  .socials {
    background-color: rgba(226, 226, 226, 0.168627451);
    padding: 1rem 1rem 0.8rem;
    border-radius: 0.5rem;
  }
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-130%);
    }
  }
  .animate h1:nth-child(4) {
    animation-delay: 10.2s;
  }
}
@media screen and (max-width: 590px) {
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-140%);
    }
  }
  .animate h1:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 545px) {
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-160%);
    }
  }
}
@media screen and (max-width: 475px) {
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-170%);
    }
  }
}
@media screen and (max-width: 448px) {
  .container {
    padding: 0 20px;
  }
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-180%);
    }
  }
  /* Footer query */
  .footer-wrapper {
    padding: 4rem 0px;
  }
  .card {
    justify-content: center;
  }
}
@media screen and (max-width: 425px) {
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-190%);
    }
  }
}
@media screen and (max-width: 410px) {
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}
@media screen and (max-width: 382px) {
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-210%);
    }
  }
}
@media screen and (max-width: 367px) {
  nav {
    padding-top: 2rem;
  }
  .socials {
    padding: 1rem 0.9rem 0.8rem;
  }
  .showcase {
    margin: 3rem auto;
  }
  .showcase-btns .btn {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
