// elders
$bg: hsla(0, 0%, 99%, 1);
$primary: hsla(268, 100%, 52%, 1);
$heading: hsla(0, 0%, 8%, 1);
$btn: hsla(0, 0%, 14%, 1);
$content: hsla(0, 0%, 24%, 1);
$animate-border: hsla(0, 0%, 70%, 1);

// teens
$color-html-shadow: rgba(228, 77, 38, 0.16);
$color-html-line: rgba(228, 77, 38, 0.72);
$color-css-shadow: rgba(0, 113, 188, 0.16);
$color-css-line: rgba(0, 113, 188, 0.72);
$color-sass-shadow: rgba(140, 200, 75, 0.16);
$color-sass-line: rgba(140, 200, 75, 0.72);
$color-js-shadow: rgba(247, 223, 30, 0.16);
$color-js-line: rgba(247, 223, 30, 0.72);
$color-react-shadow: rgba(0, 216, 255, 0.16);
$color-react-line: rgba(0, 216, 255, 0.72);
$color-ts-shadow: rgba(49, 120, 198, 0.16);
$color-ts-line: rgba(49, 120, 198, 0.72);
$color-redux-shadow: rgba(118, 74, 188, 0.16);
$color-redux-line: rgba(118, 74, 188, 0.72);
$color-git-shadow: rgba(222, 76, 54, 0.16);
$color-git-line: rgba(222, 76, 54, 0.72);
$color-node-shadow: rgba(83, 158, 67, 0.16);
$color-node-line: rgba(83, 158, 67, 0.72);