@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/card";

@import "layout/navbar";

@import "pages/home";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Animate */

.animate {
  border: 1px;
  border-color: $animate-border;
  border-style: solid none;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 13rem 0;
  width: 100%;
}

.animate h1 {
  transform: translateX(100%);
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: $btn;
  font-size: 10rem;
  font-weight: 900;
  position: absolute;
  width: 100%;
}

/* Adding Animation */
/* Because this is my first time working with animation, I want every single property to be selected separately if I intend to use them.! */
.animate h1:nth-child(1) {
  animation-name: scrolling;
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate h1:nth-child(2) {
  animation-name: scrolling2;
  animation-delay: 5s;
}

@keyframes scrolling2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate h1:nth-child(3) {
  animation-name: scrolling3;
  animation-delay: 10s;
}

@keyframes scrolling3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate h1:nth-child(4) {
  animation-name: scrolling4;
  animation-delay: 4s;
  display: none;
}

/* -----------------------------------------Media Queries-------------------------------- */
@media screen and (max-width: 1600px) {
  .animate h1:nth-child(2) {
    animation-delay: 7.5s;
  }

  .animate h1:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .animate h1:nth-child(2) {
    display: none;
  }

  .animate h1:nth-child(4) {
    display: block;
    animation-delay: 10s;
  }

  @keyframes scrolling4 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@media screen and (max-width: 950px) {
  nav {
    padding-top: 3rem;
  }

  nav form {
    display: none;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-110%);
    }
  }
}

@media screen and (max-width: 870px) {
  .animate h1:nth-child(4) {
    animation-delay: 10s;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-120%);
    }
  }
}

@media screen and (max-width: 768px) {
  .animate {
    padding: 8rem 0;
  }
  .animate h1 {
    font-size: 8rem;
  }

  .animate h1:nth-child(4) {
    animation-delay: 9.5s;
  }
}

@media screen and (max-width: 644px) {
  nav {
    flex-direction: column;
    gap: 1.5rem;
  }

  .socials {
    background-color: #e2e2e22b;
    padding: 1rem 1rem 0.8rem;
    border-radius: 0.5rem;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-130%);
    }
  }
  .animate h1:nth-child(4) {
    animation-delay: 10.2s;
  }
}

@media screen and (max-width: 590px) {
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-140%);
    }
  }

  .animate h1:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 545px) {
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-160%);
    }
  }
}

@media screen and (max-width: 475px) {
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-170%);
    }
  }
}

@media screen and (max-width: 448px) {
  .container {
    padding: 0 20px;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-180%);
    }
  }
  /* Footer query */
  .footer-wrapper {
    padding: 4rem 0px;
  }

  .card {
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-190%);
    }
  }
}

@media screen and (max-width: 410px) {
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}

@media screen and (max-width: 382px) {
  @keyframes scrolling {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-210%);
    }
  }
}

@media screen and (max-width: 367px) {
  nav {
    padding-top: 2rem;
  }
  .socials {
    padding: 1rem 0.9rem 0.8rem;
  }

  .showcase {
    margin: 3rem auto;
  }

  .showcase-btns .btn {
    width: 100%;
  }
}
